<main class="container">
  <!--
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
        Ajouter Assignment
    </button>
  </a>
-->
  <h2>Liste des devoirs :</h2>
  <mat-list *ngFor="let assignment of assignments">
    <!--<nav>
      <a href="/assignment/{{assignment.id}}">
        <h3 mat-subheader>{{assignment.dateDeRendu | date:"dd/MM/yy"}}</h3>
        <mat-list-item>
          <p *ngIf="assignment.rendu; else nonsoumis" appRendu>
            Devoir intitulé {{assignment.nom}}.
          </p>
          <ng-template #nonsoumis>
            <p appNonRendu>Le devoir {{assignment.nom}} n'a pas encore été rendu.</p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </nav>
  -->


  <mat-card class="my-card" (click) = "details(assignment)">
    <mat-card-header>
      <mat-card-title style="margin-top: 10px;">{{assignment.nom}}</mat-card-title>
      <img mat-card-avatar src="{{assignment.matieres.photoProf}}" alt="Shiba Inu">
    </mat-card-header>

    <mat-card-content style="margin-top: 20px;">
      <h4>Devoir de {{assignment.eleve}}</h4>
      <h4>A rendre le {{assignment.dateDeRendu | date:"dd/MM/yy"}}</h4>
    </mat-card-content>
  </mat-card>

  </mat-list>


</main>
